
.blurb-images
{
    background-color: white;
}
    .user-settings
    {
        font-family: 'Baloo Bhai', Tahoma;
    }
        .user-settings input
        {
            font-family: inherit;
            width: 15em;
        }
        .user-settings #updateButton
        {
            font-family: inherit;
            border-radius: 6%;
            border: 2px solid black;
        }
            #updateButton:hover
            {
                background-color: orange;
            }
        #newName
        {
            border-radius: 6%;
            border: 2px 2px solid black;
        }
        #updateErrorMessage
        {
            display: none; /*inline-block;*/
            border: 2px solid black;
            background-color: red;
            text-shadow: 1px 1px grey;
            width: 15em;
        }





#table-wrapper
{
    display: inline-block;
}

.table-design
{
    font-family: 'Baloo Bhai', Tahoma;
    border-collapse: collapse;
    width: 100%;
}
    td, th
    {
        border: 2px solid #000000;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even)
    {
        background-color: #dddddd;
        color: black;
    }
    tr:nth-child(odd)
    {
        background-color: #ffffff;
        color: black;
    }
    tr:nth-child(1)
    {
        background-color: #FA4C05;
    }